@function pxToRem($px) {
  @return floor($px / 54 * 100) / 100 + rem;
}
body {
  margin: 0;
  padding: 0;
  padding: pxToRem(17.1);
  background: #efefef;
}
.container {
  background: #fff;
}
.title {
  font-size: pxToRem(32);
  margin-left: pxToRem(10);
  margin-top: pxToRem(15);
  font-weight: 600;
}
.list {
  margin: 0 auto;
  margin-top: pxToRem(20);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.item-container {
  background-image: url(./assets/back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 96%;
  height: pxToRem(162);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: pxToRem(20);
  .left {
    margin-left: 3%;
    color: #a45927;
    :first-child {
      font-size: pxToRem(42);
      margin-right: pxToRem(4);
    }
    :last-child{
      font-size: pxToRem(22);
    }
  }
  .middle{
    margin-left: pxToRem(18);
    color: #FFE9B0;
    :first-child{
      font-size: pxToRem(32);
      margin-top: pxToRem(-20);
    }
    .out-time{
      margin-top: pxToRem(5);
      span{
        font-size: pxToRem(16);
      }
    }
    .mid-desc{
      font-size: pxToRem(18);
      margin-bottom: pxToRem(20);
    }
    .last-container{
      display: flex;
      align-items: center;
    }
    .time-container{
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-left: pxToRem(5);
      .time{
        width: pxToRem(25);
        height: pxToRem(25);
        background:#FEDEA9;
        color: #FF4000;
        font-size: pxToRem(14);
        margin-top: 0;
        text-align: center;
        margin-right: pxToRem(6);
        margin-left: pxToRem(6);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    :last-child{
      font-size: pxToRem(16);
    }
  }
  .right{
    margin-right: 1%;
    width: pxToRem(110);
    height: pxToRem(50);
    background: #FEDEA9;
    border-radius:pxToRem(20) pxToRem(20)pxToRem(20)pxToRem(20);
    font-size: pxToRem(28);
    color: #A45927;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

